
.wily {
    position: relative;
    animation-name: movewily;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Standard syntax */
@keyframes movewily {
    0%   {left:0; top:0;}
    25%  {left:900px; top:0;}
    50%  {left:400px; top:100px;}
    75%  {left:0; top:100px;}
    100% {left:0; top:30px;}
}

.megaman {
    width:100px;
    height:100px;
    position: relative;
    animation-name: movemegaman;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Standard syntax */
@keyframes movemegaman {
    0%   {left:0; top:200px;}
    25%  {left:800px; top:200px;}
    50%  {left:100px; top:200px;}
    75%  {left:200px; top:200px;}
    100% {left:0; top:200px;}
}
