/* DOCUMENT INFORMATION
################################################
                TRANSCEND BUTTONS
################################################
    - Type: CSS Flexbox
	- Version:  3.0.0
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
button:focus {
    outline:0; /* Removes annoying blue border on click in chrome on all <button> types*/
    outline: none;
}

/** clear some default button styles **/
button.clear {
    background:none;
    border:none;
    padding:0;
    color:inherit;
}

/******* BUTTON TYPES */
.btn {
    user-select: none;
    display:flex;
    justify-content: center;
    align-items: center;
    border:0;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
    font-family: Montserrat, sans-serif;
    outline: none;
}

.btn.grow{
}
.btn.grow:hover{
    transform: scale(1.02,1.02);
}
.btn.big_grow{
}
.btn.big_grow:hover{
    transform: scale(1.4,1.4);
}
.btn.icon{
    width:22px;
    height:22px;
    margin:0 5px;
}
.btn.icon:hover{
    transform: scale(1.1,1.1);
}
.btn.underline{
    font-weight:500;
}
.btn.underline:hover{
    box-shadow: inset 0 -5px 0 0 rgba(225,225,225,0.7);
}
.btn.underline_md{
    font-weight:500;
}
.btn.underline_md:hover{
    box-shadow: inset 0 -2px 0 0 rgba(225,225,225,0.7);
}
/****** BUTTON ATTRIBUTES */
/* Button Sizes */
.btn.xsm{
    border-radius: 3px;
    padding: 1px 3px;
    font-size:7pt;
    margin:3px;
    min-height:15px;
    font-weight:400;
}
.btn.sm{
    border-radius: 3px;
    padding: 1px 3px;
    font-size:8pt;
    min-width:80px;
    margin:3px;
    min-height:17px;
    font-weight:400;
}
.btn.md{
    border-radius: 3px;
    padding: 2px 5px;
    font-size:9pt;
    min-width:100px;
    margin:3px;
    min-height:20px;
    font-weight:400;
}
.btn.lg{
    border-radius: 3px;
    padding: 2px 5px;
    font-size:11pt;
    min-width:100px;
    margin:3px;
    min-height:30px;
    font-weight:500;
}
.btn.xlg{
    border-radius: 3px;
    padding: 2px 5px;
    font-size:13pt;
    min-width:100px;
    margin:3px;
    min-height:40px;
    font-weight:500;
}
/* End Button Sizes */




/* Just a FUN LINK I leave here cause Nick loves it */

.fun_lnk{
    color:#AAA;
    font-size:8pt;
    text-align: center;
    cursor: pointer;
    transition:all 0.5s ease;
    text-transform: uppercase;
}
.fun_lnk:hover{
    font-size:16pt;
    color:#05ABE0;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    padding:5px 20px;
}

/* for adding a simple hand grabbing pointer */
.t_drag_btn{
    cursor: grab;
}
.t_drag_btn:hover{
    cursor: grab;
    background-color:rgba(255,255,255,0.3);
}
.t_drag_btn:active{
    cursor: grabbing;
}

/* ANIMATED APPLICATION BUTTONS */
.app_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    height:150px;
    width:120px;
    margin:10px;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.2s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,0.6);
    outline:none;
    overflow: hidden;
}
.app_btn:hover{
    transform:translateY(-5px);
    box-shadow: 0 12px 10px -5px rgba(0,0,0,0.4);
}

.app_btn:hover .app_btn_icon{
    transform: scale(0.8,0.8) translateY(-15px);
}
.app_btn:hover .app_btn_middle{
    opacity: 1;
    visibility:visible;
    transform: scale(1.0,1.0);
}
.app_btn_middle {
    transform: scale(0,0);
    transition: 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    visibility:hidden;
}
.app_btn_middle_text {
    transform: translateY(-2px);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:5px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size:9pt;
}
.app_btn_icon{
    transition:all 0.3s ease-in-out;
    text-align: center;
}
.app_btn_text{
    box-sizing: border-box;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:9pt;
    font-weight: 500;
    padding:2px;
    border-radius:3px;
}


/* <button> class to make for a sweet pulse effect */
.btn_pulse {
    border:1px solid rgba(0,0,0,0.05);
    background-color:rgba(0,0,0,0.3);
    user-select: none;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border-radius:50%;
    color:#FFF;
    --hover: #FFF;
    font-family: Montserrat, sans-serif;
    outline:none;
}
.btn_pulse.xsm{
    margin:1px 3px;;
    height:20px;
    width:20px;
    font-size:8pt;
}
.btn_pulse.sm{
    margin:2px 5px;;
    height:25px;
    width:25px;
    font-size:10pt;
}
.btn_pulse.md{
    margin:3px 7px;;
    height:30px;
    width:30px;
    font-size:13pt;
}
.btn_pulse.lg{
    margin:5px 9px;;
    height:55px;
    width:55px;
    font-size:17pt;
}
.btn_pulse.xlg{
    margin:5px;
    height:90px;
    width:90px;
    font-size:19pt;
}
.btn_pulse:hover {
    border:1px solid rgba(0,0,0,0.05);
    background-color:rgba(255, 255, 255, 0.8);
    color:rgba(0,0,0,0.7);
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.info_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1;
    border-radius:3px;
    margin:5px;
    cursor: pointer;
    outline:none;
    user-select: none;
    text-align: center;
    flex-basis:220px;
}
.info_btn_number{
    font-size:34pt;
    font-weight:500;
}


