/*
################################################
              TRANSCEND BUTTONS
################################################
    - Type: CSS Flexbox
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/

/* remove tap color on mobile */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

button:focus {
    outline: 0;
    outline: none;
}

button.clear {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
}

/********************** TRADITIONAL BUTTON CLASSES ************************/
/* button class */
.btn {
    user-select: none;
    border: 0;
    cursor: pointer;
    outline: none;
    padding:0;
    white-space:nowrap;
    overflow:hidden;
    transition:all 0.2s ease-in-out;
    border-radius:3px;
    position:relative;
}

/* button sizes */
.btn.xsm {
    font-size:10px;
    padding:2px 6px;
}
.btn.sm {
    font-size:12px;
    padding:3px 8px;
}
.btn.md {
    font-size:14px;
    padding:4px 10px;
}
.btn.lg {
    font-size:16px;
    padding:5px 12px;
}
.btn.xlg {
    font-size:18px;
    padding:6px 14px;
}

/* class added if there is an icon; sets padding */
.btn.icon_left {
    padding-left:2.5em;
}
.btn.icon_right {
    padding-right:2.5em;
}

/* style the icon in the button */
.btn.icon_left > .icon,
.btn.icon_right > .icon {
    position:absolute;
    top:0;
    width:2em;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
/* style border to left or right of icon */
.btn.icon_left > .icon:not(.no_line)::after,
.btn.icon_right > .icon:not(.no_line)::after {
    content: '';
    height:0.75em;
    position:absolute;
    border-style:solid;
    border-color:currentColor;
    opacity:0.5;
    margin-top:-0.37em; /* IE11 fix */
    top:50%;
}

/* specific styling for left icons */
.btn.icon_left > .icon {
    left:0;
}
.btn.icon_left > .icon:not(.no_line)::after {
    right:0;
    border-width:0 1px 0 0;
}

/* specific styling for right icons */
.btn.icon_right > .icon {
    right:0;
}
.btn.icon_right > .icon:not(.no_line)::after {
    left:0;
    border-width:0 0 0 1px;
}


/* icon hover animations */
.btn > .icon > * {
    transition:all 0.15s ease-out;
}

/* shrink */
.btn:hover > .icon.shrink > * {
    transform:scale(0.85);
}

/* grow */
.btn:hover > .icon.grow > * {
    transform:scale(1.2);
}

/* turn slightly */
.btn:hover > .icon.turn > * {
    transform:rotate(20deg);
}

/* spin 90 degrees */
.btn > .icon.spin > * {
    transition:all 0.3s ease-out;
}
.btn:hover > .icon.spin > * {
    transform:rotate(90deg);
}

/* slide left */
.btn:hover > .icon.slide_left > * {
    transform:translateX(-0.3em);
}

/* slide right */
.btn:hover > .icon.slide_right > * {
    transform:translateX(0.3em);
}

/* slide up */
.btn:hover > .icon.slide_up > * {
    transform:translateY(-0.3em);
}

/* slide down */
.btn:hover > .icon.slide_down > * {
    transform:translateY(0.3em);
}

/* reverse animation effect when user clicks button */
.btn:active > .icon > * {
    transform:none !important;
}

/* when button is disabled */
button[disabled] {
    cursor:not-allowed;
    opacity:0.5;
}
.btn[disabled]:hover > .icon > * {
    transform:none !important;
}
.btn[disabled].glow:hover {
    box-shadow:none !important;
}

/************************* END TRADITIONAL BUTTON CLASSES *********************************/

/* Just a FUN LINK I leave here cause Nick loves it */
.fun_lnk {
    color: #AAA;
    font-size: 8pt;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.fun_lnk:hover {
    font-size: 16pt;
    color: #05ABE0;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 5px 20px;
}

/* for adding a simple hand grabbing pointer */
.t_drag_btn {
    cursor: grab;
}

.t_drag_btn:hover {
    cursor: grab;
    background-color: rgba(255, 255, 255, 0.3);
}

.t_drag_btn:active {
    cursor: grabbing;
}

/* ANIMATED APPLICATION BUTTONS */
/* TODO: move to app management? */
.app_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    height: 150px;
    min-width: 120px;
    width: 120px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.6);
    outline: none;
    overflow: hidden;
}

.app_btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 10px -5px rgba(0, 0, 0, 0.4);
}

.app_btn:hover .app_btn_icon {
    transform: scale(0.8, 0.8) translateY(-15px);
}

.app_btn:hover .app_btn_middle {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0, 1.0);
}

.app_btn_middle {
    transform: scale(0, 0);
    transition: 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.app_btn_middle_text {
    transform: translateY(-2px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 9pt;
}

.app_btn_icon {
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.app_btn_text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 9pt;
    font-weight: 500;
    padding: 2px;
    border-radius: 3px;
}

/* PULSE BUTTONS */
.btn_pulse {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.3);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    color: #FFF;
    --hover: #FFF;
    font-family: Montserrat, sans-serif;
    outline: none;
    padding:0;
    overflow:visible;
}

.btn_pulse.xsm {
    margin: 1px 3px;
    min-height: 20px;
    height: 20px;
    min-width:20px;
    width: 20px;
    font-size: 8pt;
}

.btn_pulse.sm {
    margin: 2px 5px;
    min-height: 25px;
    height: 25px;
    min-width: 25px;
    width: 25px;
    font-size: 10pt;
}

.btn_pulse.md {
    margin: 3px 7px;
    min-height: 30px;
    height: 30px;
    min-width: 30px;
    width: 30px;
    font-size: 13pt;
}

.btn_pulse.lg {
    margin: 5px 9px;
    min-height: 55px;
    height: 55px;
    min-width: 55px;
    width: 55px;
    font-size: 17pt;
}

.btn_pulse.xlg {
    margin: 5px;
    min-height: 90px;
    height: 90px;
    min-width: 90px;
    width: 90px;
    font-size: 19pt;
}

.btn_pulse:hover {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.7);
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

/* INFO BUTTONS */
/* TODO: check usages */
.info_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    user-select: none;
    text-align: center;
    flex-basis: 220px;
}

.info_btn_number {
    font-size: 34pt;
    font-weight: 500;
}

/* CONFIG DASHBOARD BUTTONS */
/* TODO: remove? (check usages, probably deprecated) */
.btn_config {
    height: 75px;
    padding: 0;
    white-space: normal;
    max-width: 360px;
    min-width: 250px;
}

.btn_config .text {
    justify-content:normal;
}

.btn_config_icon {
    position:relative;
    width: 75px;
    height: 75px;
    font-size: 26pt;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn_config_subicon {
    font-size: 18px;
    position: absolute;
    left: 38px;
    top: 38px;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.btn_config:hover .btn_config_subicon {
    opacity: 1;
}

/* HIGHLIGHT BUTTON */
/* TODO: remove, unused */
.btn_highlight{
    transition:all 0.2s ease-in-out;
}
.btn_highlight:hover{
    background-color:rgba(0,0,0,0.08);
}

/* WILY MENU BUTTON */
/* TODO: eventually remove, deprecated */
.wily_menu_btn {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-family: Montserrat, sans-serif;
}

.wily_go_box {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wily_menu_btn .icon {
    transition: all 0.2s ease-in-out;
    opacity: 0.4;
    font-size: 8pt;
}

.wily_menu_btn:hover .icon {
    opacity: 1;
}

.wily_menu_btn .go {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    font-size: 8pt;
    padding-left: 1px;
}

.wily_menu_btn:hover .go {
    opacity: 1;
    padding-left: 8px;
}

/* PRIORITY BUTTON */
.prior_btn {
    width: 8px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    padding: 0;
}

.prior_btn:hover, .prior_btn:focus {
    width: 20px;
}

.prior_btn_icon {
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.prior_btn:hover > .prior_btn_icon,
.prior_btn:focus > .prior_btn_icon {
    opacity: 1;
}

/* BREADCRUMB BUTTON STYLES */
/* TODO: remove these, potentially reuse for another button type */
/* show a background on hover */
.breadcrumb {
    border-width:0 !important;
    border-radius:20px;
    min-height:22px;
    font-size:11pt;
    display:flex;
    align-items:center;
    cursor:pointer;
    justify-content:center;
    padding:0 10px;
    white-space:nowrap;
    overflow:hidden;
    transition: all 0.2s ease-in-out;
}
.breadcrumb:not(:hover){
    background:none;
}
/* current page title */
.breadcrumb_current {
    min-height:22px;
    display:flex;
    align-items:center;
    padding:0 10px;
    font-size:13px;
    font-weight:500;
}

/* TAB BUTTONS */
/* TODO: create version that floats, and full width version */
.tabs .btn_tab {
    margin-top:1px;
    margin-bottom:1px;
    border-radius:0 !important;
    min-height:30px;
}
.tabs .btn_tab:first-child {
    margin-left:1px;
    margin-right:1px;
    border-radius:3px 0 0 3px !important;
}
.tabs .btn_tab:last-child {
    margin-right:1px;
    border-radius:0 3px 3px 0 !important;
}
.tabs .btn_tab:not(:first-child):not(:last-child) {
    margin-right:1px;
}

/* BTN_GROUP */
/* group of buttons, such as for toggles */
.btn_group {
    display:flex;
    flex:1;
    transition:all 0.2s ease-in-out;
}
.btn_group.rounded {
    border-radius:50px;
}
.btn_group .btn {
    display:flex;
    flex:1;
    border-radius: 0;
    align-items:center;
    font-size:14px;
    margin:0;
    border-width: 1px 0;
}
/* small tab */
.btn_group.sm .btn {
    padding:6px 5px;
    font-size:12px;
}
/* medium tab */
.btn_group.md .btn {
    padding:6px 5px;
    font-size:14px;
}
/* large tab */
.btn_group.lg .btn {
    padding:10px 5px;
    font-size:16px;
}
.btn_group .btn:first-child {
    border-left-width:1px;
    border-right-width:1px;
    border-top-left-radius:3px !important;
    border-bottom-left-radius:3px !important;
}
.btn_group .btn:last-child {
    border-right-width:1px;
    border-top-right-radius:3px !important;
    border-bottom-right-radius:3px !important;
}
.btn_group .btn:not(:first-child):not(:last-child) {
    border-right-width:1px;
}
.btn_group.rounded .btn {
    border-radius:50px !important;
}

/* like button class, but for list items */
.list_btn{
    appearance: none;
    user-select:none;
    cursor:pointer;
    border:none;
    outline:none;
    padding:0;
    display:flex;
    flex:1;
    transition:all 0.2s ease-in-out;
    align-items:stretch;
    text-align:left;
    font-size:14px;
    margin:0;
}
