/*
################################################
              TRANSCEND BUTTONS
################################################
    - Type: CSS Flexbox
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/

/* REMOVE BROWSER SPECIFIC STYLES */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

button {
    font-family: Montserrat, sans-serif;
}

button:focus {
    outline: 0;
    outline: none;
}

button.clear {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
}

/*********************************************************************/
/* NEW BUTTONS                                                       */
/*********************************************************************/
.btn {
    user-select: none;
    border: 0;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    outline: none;
    display:flex;
    flex-shrink:0;
    justify-content: center;
    align-items: center;
    padding:0;
    box-sizing:border-box;
    white-space:nowrap;
    overflow:hidden;
    transition:all 0.2s ease-in-out;
}

/* vertically center text */
.btn .text {
    display:flex;
    align-items: center;
    box-sizing:border-box;
}

/* center icon and remove border in case of background */
.btn .icon {
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    border:none;
}

/******************  SIZES **********************/
/* add border radius to buttons with sizes */
.btn.xsm, .btn.sm, .btn.md, .btn.lg, .btn.xlg {
    border-radius:3px;
}

/* .XSM - EXTRA SMALL BUTTON */
.btn.xsm {
    min-height:16px;
    font-size:9px;
}
.btn.xsm .text {
    padding:0 6px;
    min-height:16px;
}
.btn.xsm .icon {
    min-width:16px;
    min-height:16px;
    font-size:8px;
}

/* .SM - SMALL BUTTON */
.btn.sm {
    min-height:18px;
    font-size:11px;
}
.btn.sm .text {
    padding:0 8px;
    min-height:18px;
}
.btn.sm .icon {
    min-width:18px;
    min-height:18px;
    font-size:10px;
}

/* .MD - MEDIUM BUTTON */
.btn.md {
    min-height:22px;
    font-size:12px;
}
.btn.md .text {
    padding:0 10px;
    min-height:22px;
}
.btn.md .icon {
    min-width:22px;
    min-height:22px;
    font-size:11px;
}

/* .LG - LARGE BUTTON */
.btn.lg {
    min-height:26px;
    font-size:13px;
}
.btn.lg .text {
    padding:0 12px;
    min-height:26px;
}
.btn.lg .icon {
    min-width:26px;
    min-height:26px;
    font-size:12px;
}

/* .XLG - EXTRA LARGE BUTTON */
.btn.xlg {
    min-height:32px;
    font-size:17px;
}
.btn.xlg .text {
    padding:0 13px;
    min-height:32px;
}
.btn.xlg .icon {
    min-width:32px;
    min-height:32px;
    font-size:15px;
}

/************** SEPARATORS *******************/
.btn .icon.border_left::after {
    content: '';
    height:0.75em;
    left:0;
    position:absolute;
    border-width:0 0 0 1px;
    border-style:solid;
    border-color:rgba(255,255,255,0.50);
}
.btn .icon.border_right::after {
    content: '';
    height:0.75em;
    right:0;
    position:absolute;
    border-width:0 1px 0 0;
    border-style:solid;
    border-color:rgba(255,255,255,0.50);
}
.btn .icon.border_left_alt::after {
    content: '';
    height:0.75em;
    left:0;
    position:absolute;
    border-width:0 0 0 1px;
    border-style:solid;
    border-color:rgba(0,0,0,0.35);
}
.btn .icon.border_right_alt::after {
    content: '';
    height:0.75em;
    right:0;
    position:absolute;
    border-width:0 1px 0 0;
    border-style:solid;
    border-color:rgba(0,0,0,0.35);
}

/******************* BUTTON ANIMATIONS ********************/
.btn.slide_up:hover {
    transform: translateY(-4px);
}

.btn.sm_grow:hover {
    transform: scale(1.08);
}

.btn.grow:hover {
    transform: scale(1.02, 1.02);
}

.btn.mid_grow:hover {
    transform: scale(1.2);
}

.btn.big_grow:hover {
    transform: scale(1.4, 1.4);
}

.btn.underline:hover {
    box-shadow: inset 0 -5px 0 0 rgba(225, 225, 225, 0.7);
}

.btn.underline_md:hover {
    box-shadow: inset 0 -2px 0 0 rgba(225, 225, 225, 0.7);
}

/******************** ICON ANIMATIONS ********************/
.btn .icon svg {
    transition:all 0.15s ease-out;
}

/* .GLOW - LIGHTEN ON HOVER */
.btn.glow:hover {
    box-shadow: inset 0 0 0 100px rgba(255,255,255,0.15);
}
.btn.glow:active {
    box-shadow: none;
}

/* .SHRINK - SHRINK ICON ON HOVER */
.btn:hover .icon.shrink svg {
    transform:scale(0.85);
}

/* .GROW - GROW ICON ON HOVER */
.btn:hover .icon.grow svg {
    transform:scale(1.2);
}

/* .TURN - TURN ICON ON HOVER */
.btn:hover .icon.turn svg {
    transform:rotate(20deg);
}

/* .SPIN - SPIN ICON ON HOVER */
.btn .icon.spin svg {
    transition:all 0.3s ease-out;
}
.btn:hover .icon.spin svg {
    transform:rotate(90deg);
}

/* .SLIDE_LEFT - SLIDE ICON LEFT ON HOVER */
.btn:hover .icon.slide_left svg {
    transform:translateX(-0.3em);
}

/* .SLIDE_RIGHT - SLIDE ICON RIGHT ON HOVER */
.btn:hover .icon.slide_right svg {
    transform:translateX(0.3em);
}

/* .SLIDE_UP - SLIDE ICON UP ON HOVER */
.btn:hover .icon.slide_up svg {
    transform:translateY(-0.3em);
}

/* .SLIDE_DOWN - SLIDE ICON DOWN ON HOVER */
.btn:hover .icon.slide_down svg {
    transform:translateY(0.3em);
}

/* REMOVE TRANSITION ON ACTIVE */
.btn:active .icon svg {
    transform:none !important;
}

/* DISABLED ICON */
.btn.disabled {
    cursor:default;
}

.btn.disabled:hover .icon svg {
    transform:none !important;
}

/************* END NEW BUTTONS *********************************/

/* Just a FUN LINK I leave here cause Nick loves it */
.fun_lnk {
    color: #AAA;
    font-size: 8pt;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.fun_lnk:hover {
    font-size: 16pt;
    color: #05ABE0;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 5px 20px;
}

/* for adding a simple hand grabbing pointer */
.t_drag_btn {
    cursor: grab;
}

.t_drag_btn:hover {
    cursor: grab;
    background-color: rgba(255, 255, 255, 0.3);
}

.t_drag_btn:active {
    cursor: grabbing;
}

/* ANIMATED APPLICATION BUTTONS */
.app_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    height: 150px;
    min-width: 120px;
    width: 120px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.6);
    outline: none;
    overflow: hidden;
}

.app_btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 10px -5px rgba(0, 0, 0, 0.4);
}

.app_btn:hover .app_btn_icon {
    transform: scale(0.8, 0.8) translateY(-15px);
}

.app_btn:hover .app_btn_middle {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0, 1.0);
}

.app_btn_middle {
    transform: scale(0, 0);
    transition: 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.app_btn_middle_text {
    transform: translateY(-2px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 9pt;
}

.app_btn_icon {
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.app_btn_text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 9pt;
    font-weight: 500;
    padding: 2px;
    border-radius: 3px;
}

/* PULSE BUTTONS */
.btn_pulse {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.3);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    color: #FFF;
    --hover: #FFF;
    font-family: Montserrat, sans-serif;
    outline: none;
    padding:0;
    overflow:visible;
}

.btn_pulse.xsm {
    margin: 1px 3px;
    min-height: 20px;
    height: 20px;
    min-width:20px;
    width: 20px;
    font-size: 8pt;
}

.btn_pulse.sm {
    margin: 2px 5px;
    min-height: 25px;
    height: 25px;
    min-width: 25px;
    width: 25px;
    font-size: 10pt;
}

.btn_pulse.md {
    margin: 3px 7px;
    min-height: 30px;
    height: 30px;
    min-width: 30px;
    width: 30px;
    font-size: 13pt;
}

.btn_pulse.lg {
    margin: 5px 9px;
    min-height: 55px;
    height: 55px;
    min-width: 55px;
    width: 55px;
    font-size: 17pt;
}

.btn_pulse.xlg {
    margin: 5px;
    min-height: 90px;
    height: 90px;
    min-width: 90px;
    width: 90px;
    font-size: 19pt;
}

.btn_pulse:hover {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.7);
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

/* INFO BUTTONS */
.info_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    user-select: none;
    text-align: center;
    flex-basis: 220px;
}

.info_btn_number {
    font-size: 34pt;
    font-weight: 500;
}

/* CONFIG DASHBOARD BUTTONS */
.btn_config {
    height: 75px;
    padding: 0;
    white-space: normal;
    max-width: 360px;
    min-width: 250px;
}

.btn_config .text {
    justify-content:normal;
}

.btn_config_icon {
    position:relative;
    width: 75px;
    height: 75px;
    font-size: 26pt;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn_config_subicon {
    font-size: 18px;
    position: absolute;
    left: 38px;
    top: 38px;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.btn_config:hover .btn_config_subicon {
    opacity: 1;
}

/* HIGHLIGHT BUTTON */
.btn_highlight{
    transition:all 0.2s ease-in-out;
}
.btn_highlight:hover{
    background-color:rgba(0,0,0,0.08);
}

/* WILY MENU BUTTON */
.wily_menu_btn {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

.wily_go_box {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wily_menu_btn .icon {
    transition: all 0.2s ease-in-out;
    opacity: 0.4;
    font-size: 8pt;
}

.wily_menu_btn:hover .icon {
    opacity: 1;
}

.wily_menu_btn .go {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    font-size: 8pt;
    padding-left: 1px;
}

.wily_menu_btn:hover .go {
    opacity: 1;
    padding-left: 8px;
}

/* PRIORITY BUTTON */
.prior_btn {
    width: 8px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    padding: 0;
}

.prior_btn:hover, .prior_btn:focus {
    width: 20px;
}

.prior_btn_icon {
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.prior_btn:hover > .prior_btn_icon,
.prior_btn:focus > .prior_btn_icon {
    opacity: 1;
}

