
/* BUTTON COLORS */


/* BORDERS */


.border_grey {
    border: 1px solid #CCC;
}



/* PRIMARY COLORS */
.t_blue{
    background-color:#628396;
}
.t_red{
    background-color:#985660;
}
.t_yellow {
    background-color: #B7B933;
}
.t_green {
    background-color: #468459;
}
.t_purple{
    background-color: #894870;
}

/* SECONDARY COLORS */

.t_bluesteel{
    background-color: #466373;
}
.t_megaman{
    background: #05ABE0;
}
.t_info{
    background-color:#7e5966;
}
.t_stop{
    background-color:#c01616;
}
.t_go{
    background-color: #4bb642;
}
.t_grey{
    background-color:#AAAAAA;
}
.t_cancel{
    background-color:#888888;
}
.t_progress{
    background-color: #9e9c7a;
}
.t_warning{
    background-color:#a97c2e
}
