
/************ SCROLLBAR STYLES */
::-webkit-scrollbar
{
    width: 8px;  /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb
{
    border-radius:3px;
    border: rgba(255, 255, 255, 0.1) solid 1px;
    background-color:rgba(0, 0, 0, 0.4)
}
::-webkit-scrollbar-thumb:hover {
    background-color:rgba(0, 0, 0, 0.5)
}
/************ END SCROLLBAR STYLES */



/* SHADOWS  */
.shadow{
    box-shadow: 0 6px 10px -6px rgba(0,0,0,0.3);
}
.page_shadow {
    box-shadow: 0 10px 22px -11px rgba(0, 0, 0, 0.6);
}

/* STATUS GRADIENT */
.stat_grad {
    background: rgb(83,209,41);
    background: linear-gradient(to right,  rgba(83,209,41,1) 0%,rgba(239,239,45,1) 70%,rgba(201,125,38,1) 90%,rgba(237,0,0,1) 100%);
}

