/*
FOOTER.CSS
Footer styles.

AUTHORS: Terry Sinay & Brooks Peffer
GDIT MMIS MODERNIZATION
 */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
}

.footer_year {
    font-size: 20pt;
    color: #FFF;
}
