/*
################################################
              FORMS AND INPUTS
################################################
    - Type: CSS Flexbox
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/

/* DISABLED STATES FOR INPUTS */
input:disabled, textarea:disabled, select:disabled {
    filter: brightness(0.95);
}

/* FORM EDITOR STYLES */
/* MOVE TO APP MANAGEMENT? */
.row_options {
    margin: 3px;
    width: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.row_handle {
    font-size: 12pt;
    cursor: grab;
    font-weight: 400;
    border-radius: 3px;
}

.row_settings {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 8pt;
    margin: 2pt;
}

.row_settings:hover {
    transform: scale(1.2, 1.2);

}

.col_options {
    user-select: none;
    position:relative;
}

.col_options .col_settings {
    transition: all 0.3s ease-in-out;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    font-size: 10pt;
    margin: 0;
    top:5px;
    left:5px;
    border-radius: 3px;
    width: 50px;
    height: 20px;
}

.col_options:hover .col_settings {
    opacity: 1;
}

.field_grab {
    cursor: grab;
}

.field_error {
    border: 1px solid red;
}

/* FORM INPUT TYPES */
.form_input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 5px;
    min-height: 30px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.form_input:hover {
    box-shadow: inset 0 -2px 0 0 rgba(225, 225, 225, 0.7);
}

.form_input:hover:disabled {
    box-shadow: none;
}

.form_checkbox {
    width: 20px;
    min-width:20px;
    height: 20px;
    min-height:20px;
    margin: 0;
    outline: none;
}

.form_textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 0;
    margin: 0;
    min-height: 30px;
    outline: none;
    resize: vertical;
    transition: all 0.2s ease-in-out;
    padding: 5px;
}

.form_group_header {
    font-size: 10pt;
}

.label_group {
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.form_cell.col.size_2 {
    flex-basis:28px;
}

.field_required {
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4pt;
}

.field_valid {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.field_help {
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 10pt;
}

/* FORM LABELS FOR FORM INPUTS */
.form_label {
    font-size: 10pt;
    font-weight: 500;
    padding: 0;
}

.form_label.sm {
    font-size: 9pt;
}

.form_label.md {
    font-size: 10pt;
}

.form_label.lg {
    font-size: 11pt;
}

.form_label.light {
    font-weight: 200;
}

.form_label.bold {
    font-weight: 600;
}

/* INPUT LABEL FOR REGULAR INPUTS */
.input_label {
    display:inline-block;
    font-size:14px;
    margin-bottom:4px;
}

/* NEW INPUT CLASSES */
/* REGULAR INPUTS */
.input,
.input_lefticon > input,
.input_lefticon > select,
.input_righticon > input,
.input_righticon > select {
    border-radius:5px;
    width:100%;
    font-family:Montserrat,sans-serif;
    outline:none;
}
.input:focus,
.input_lefticon > input:focus,
.input_lefticon > select:focus,
.input_righticon > input:focus,
.input_righticon > select:focus {
    border-color: grey;
    outline: 0;
}
.input,
.input.md,
.input_lefticon > input,
.input_lefticon > select,
.input_lefticon.md > input,
.input_lefticon.md > select,
.input_righticon > input,
.input_righticon > select,
.input_righticon.md > input,
.input_righticon.md > select {
    padding:6px 15px;
    font-size:14px;
    min-height:34px;
}
.input.lg,
.input_lefticon.lg > input,
.input_lefticon.lg > select,
.input_righticon.lg > input,
.input_righticon.lg > select {
    padding:8px 15px;
    font-size:15px;
    min-height:40px;
}

/* INPUT WITH ICON */
/* should be structured with class on parent div, rather than on input element */
.input_lefticon,
.input_righticon {
    position:relative;
    display:flex;
    align-items:center;
}
/* font sizes for icons */
.input_lefticon,
.input_righticon,
.input_lefticon.md,
.input_righticon.md {
    font-size:14px;
}
.input_lefticon.lg,
.input_righticon.lg {
    font-size:15px;
}
/* for input, show border on left */
.input_lefticon > input {
    padding-left:3.25em !important;
    background-image:
        /*linear-gradient(45deg, transparent 50%, transparent 50%),*/
        /*linear-gradient(135deg, transparent 50%, transparent 50%),*/
            linear-gradient(to right, #ccc, #ccc);
    background-position:
        /*calc(100% - 20px) calc(1em + 2px),*/
        /*calc(100% - 15px) calc(1em + 2px),*/
            2.5em 50%;
    background-size:
        /*5px 5px,*/
        /*5px 5px,*/
            1px 1.3em;
    background-repeat: no-repeat;
}
/* for select, show border and custom arrow */
.input_lefticon > select {
    padding-left:3.25em !important;
    cursor:pointer;
    /* styling */
    background-color: white;
    display: inline-block;
    /*padding: 0.5em 3.5em 0.5em 1em;*/

    /* reset */

    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            2.5em 50%;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.3em;
    background-repeat: no-repeat;
}
.input_lefticon > select:focus {
    background-image:
            linear-gradient(45deg, gray 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, gray 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            2.5em 50%;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.3em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
.input_righticon > input {
    padding-right:3.25em !important;
    background-image:
            linear-gradient(45deg, transparent 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(45% + 2px),
            calc(100% - 15px) calc(45% + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}
.input_lefticon > svg,
.input_lefticon.md > svg {
    position: absolute;
    left:0.75em;
    opacity:0.7;
    font-size:inherit;
}
.input_righticon > svg,
.input_righticon.md > svg {
    position: absolute;
    right:0.75em;
    opacity:0.7;
    font-size:inherit;
}

/* SELECT CLASSES */
select.input {
    cursor:pointer;
    /* styling */
    background-color: white;
    display: inline-block;
    /*padding: 0.5em 3.5em 0.5em 1em;*/
    padding-right:2.5em !important;

    /* reset */

    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
    /*linear-gradient(to right, #ccc, #ccc);*/
    background-position:
            calc(100% - 20px) calc(45% + 2px),
            calc(100% - 15px) calc(45% + 2px);
    /*calc(100% - 2.5em) 0.5em;*/
    background-size:
            5px 5px,
            5px 5px;
    /*1px 1.5em;*/
    background-repeat: no-repeat;
}

select.input:focus {
    background-image:
            linear-gradient(45deg, gray 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, gray 50%);
    /*linear-gradient(to right, #ccc, #ccc);*/
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em;
    /*calc(100% - 2.5em) 0.5em;*/
    background-size:
            5px 5px,
            5px 5px;
    /*1px 1.5em;*/
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
textarea.input {
    min-height:50px;
    resize:none;
}

/************************************ DEPRECATED ***************************************/
/* REGULAR INPUT TYPES */
.fullwidth_input {
    width: 100%;
    padding: 5px 10px;
    font-family: Montserrat, sans-serif;
    border-radius: 3px;
    border: 1px solid rgba(50, 50, 50, 0.2);
    font-size: 11pt;
    outline: none;
}

/* FIX TO MAKE SELECT SAME SIZE AS INPUT */
select.fullwidth_input {
    padding:4px 10px;
}

.fullwidth_input.sm {
    padding: 2px 5px;
    font-size: 10pt;
}

.fullwidth_textarea {
    width: 100%;
    resize: none;
    padding: 5px 10px;
    font-family: Montserrat, sans-serif;
    border-radius: 3px;
    border: 1px solid rgba(50, 50, 50, 0.2);
    min-height: 50px;
    font-size: 11pt;
}

.fullwidth_textarea.sm {
    padding: 2px 5px;
    font-size: 10pt;
}
/************************************ END DEPRECATED ***************************************/
