/*
################################################
              FORMS AND INPUTS
################################################
    - Type: CSS Flexbox
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/

/* DISABLED STATES FOR INPUTS */
input:disabled, textarea:disabled, select:disabled {
    filter: brightness(0.95);
}

/* FORM EDITOR STYLES */
.row_options {
    margin: 3px;
    width: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.row_handle {
    font-size: 12pt;
    cursor: grab;
    font-weight: 400;
    border-radius: 3px;
}

.row_settings {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 8pt;
    margin: 2pt;
}

.row_settings:hover {
    transform: scale(1.2, 1.2);

}

.col_options {
    user-select: none;
    position:relative;
}

.col_options .col_settings {
    transition: all 0.3s ease-in-out;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    font-size: 10pt;
    margin: 0;
    top:5px;
    left:5px;
    border-radius: 3px;
    width: 50px;
    height: 20px;
}

.col_options:hover .col_settings {
    opacity: 1;
}

.field_grab {
    cursor: grab;
}

.field_error {
    border: 1px solid red;
}

/* FORM INPUT TYPES */
.form_input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    min-height: 30px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.form_input:hover {
    box-shadow: inset 0 -2px 0 0 rgba(225, 225, 225, 0.7);
}

.form_input:hover:disabled {
    box-shadow: none;
}

.form_checkbox {
    width: 20px;
    min-width:20px;
    height: 20px;
    min-height:20px;
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

.form_textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    margin: 0;
    min-height: 30px;
    outline: none;
    resize: vertical;
    transition: all 0.2s ease-in-out;
    padding: 5px;
}

.form_group_header {
    box-sizing: border-box;
    font-size: 10pt;
}

.label_group {
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.form_cell.col.size_2 {
    flex-basis:28px;
}

.field_required {
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4pt;
}

.field_valid {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.field_help {
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 10pt;
}

/* FORM LABELS FOR FORM INPUTS */
.form_label {
    font-size: 10pt;
    font-weight: 500;
    padding: 0;
}

.form_label.sm {
    font-size: 9pt;
}

.form_label.md {
    font-size: 10pt;
}

.form_label.lg {
    font-size: 11pt;
}

.form_label.light {
    font-weight: 200;
}

.form_label.bold {
    font-weight: 600;
}

/* INPUT LABEL FOR REGULAR INPUTS */
.input_label {
    font-size:10pt;
    margin-bottom:4px;
}

/* REGULAR INPUT TYPES */
.fullwidth_input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    font-family: Montserrat, sans-serif;
    border-radius: 3px;
    border: 1px solid rgba(50, 50, 50, 0.2);
    font-size: 11pt;
    outline: none;
}

/* FIX TO MAKE SELECT SAME SIZE AS INPUT */
select.fullwidth_input {
    padding:4px 10px;
}

.fullwidth_input.sm {
    padding: 2px 5px;
    font-size: 10pt;
}

.fullwidth_textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    padding: 5px 10px;
    font-family: Montserrat, sans-serif;
    border-radius: 3px;
    border: 1px solid rgba(50, 50, 50, 0.2);
    min-height: 50px;
    font-size: 11pt;
}

.fullwidth_textarea.sm {
    padding: 2px 5px;
    font-size: 10pt;
}
