.help_dialog .mat-dialog-container {
    padding: 0;
    max-width: 900px;
    margin: auto;
}

.help_widget {
  cursor: pointer;
}

.help_theme_light {
  color: rgba(255, 255, 255, 0.7);
}

.help_theme_dark {
  color: rgba(0, 0, 0, 0.7);
}

.help_text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 0.2);
}

.help_text {
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
  width: unset;
  background-color: #FFFFFF;
}

.help_text::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(50, 50, 50, 0.2);
}

.help_text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(255, 255, 255, 0.6);
}
