/* DOCUMENT INFORMATION
################################################
                TRANSCEND BUTTONS
################################################
    - Type: CSS Flexbox
	- Version:  3.0.0
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/


.row_block{
    display:block;
    width:100%;
}
.row{
    display:flex;
    flex:1;
}
.row.rounded{
    margin:4px;
    padding:2px;
    border-radius:3px;
}
.row.column{
    flex-direction: column;
    width:100%;
}

/* COLUMNS */
.col{
    display:flex;
}
.col.rounded{
    margin:2px;
    padding:4px;
    border-radius:3px;
}


/* SIZING BASED ON FLEX VALUES */
.col.size_1{
    flex:1;
}
.col.size_2{
    flex:2;
}
.col.size_3{
    flex:3;
}
.col.size_4{
    flex:4;
}
.col.size_5{
    flex:5;
}
.col.size_6{
    flex:6;
}
.col.size_7{
    flex:7;
}
.col.size_8{
    flex:8;
}
.col.size_9{
    flex:9;
}
.col.size_10{
    flex:10;
}
/* BORDERS */
.border_3{
    border-radius:3px;
}
.border_5{
    border-radius:5px;
}

/* MARGINS AND PADDING */
.mar_3{
    margin:3px;
}
.mar_5{
    margin:5px;
}
.mar_10{
    margin:10px;
}
.pad_3{
    padding:3px;
}
.pad_5{
    padding:5px;
}
.pad_10{
    padding:10px;
}

/* SCROLLING */

.scroll_y{
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll_x{
    overflow-x: scroll;
    overflow-y: hidden;
}
.scroll_xy{
    overflow-x: scroll;
    overflow-y: scroll;
}
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}

/* FLEX ALIGNMENTS */
.top_center{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.top_left{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.top_right{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.center_center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.center_left{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.center_right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.space_between{
    display:flex;
    justify-content: space-between;
}
.space_around{
    display:flex;
    justify-content: space-around;
}
.space_evenly{
    display:flex;
    justify-content: space-evenly;
}
.v_center{
    display:flex;
    align-items: center;
}
.h_center{
    display:flex;
    justify-content: center;
}

/* MIN VALUE */
.min_w250{
    min-width: 250px;
}
.min_w280{
    min-width: 280px;
}
.min_h50{
    min-height: 50px;
}
.min_h100{
    min-height: 100px;
}
.min_h150{
    min-height: 150px;
}
.min_h250{
    min-height: 250px;
}
.min_h300{
    min-height: 300px;
}
.min_h350{
    min-height: 350px;
}
.min_h400{
    min-height: 400px;
}
.bar_1{
    background-color:rgba(255,255,255,0.1);
    width:5px;
}
.bar_2{
    background-color:rgba(255,255,255,0.4);
    width:5px;
}
.bar_3{
    background-color:rgba(0,0,0,0.2);
    width:5px;
}


/************** END HEADER TO END ALL HEADERS */

.inline_header{
    display:flex;
    align-items: center;
    min-height:40px;
    border-bottom:3px solid rgba(50,50,50,0.4);
    justify-content: space-between;
}
.title_box{
    display: inline-flex;
    flex-wrap: wrap;
    min-height:40px;
}
.inline_title{
    display: flex;
    color:#FFF;
    font-weight: 400;
    font-size: 16pt;
    align-items: center;
}
.inline_icon{
    display: flex;
    padding: 0 10px;
    align-items: center;
    color:#FFF;
}

/*** HEADER FOOTER COLOR BAR */
.color_bar{
    display:flex;
    justify-content:flex-end;
    background-color:rgba(0,0,0,0.3);
    height:2px;
}
.color_stripes{
    display:flex;
    flex-wrap: nowrap;
    width:25%;
    padding-right:8%;
}
.color_stripes > div{
    flex:1;
}



