/* DOCUMENT INFORMATION
################################################
                TRANSCEND BUTTONS
################################################
    - Type: CSS Flexbox
	- Version:  3.0.0
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/
/* NAVBAR STYLES */
nav{
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 999;
    height:30px;
}
.nav_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.nav_gradient{
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=1 );
}

.logo {
    width: 150px;
    height: 30px; /* CHANGE THIS TO CONTROL HEIGHT OF NAVBAR */
    background-image: url(assets/logos/transcend_logo_horiz.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center left;
    margin:0 5px 0;
    user-select: none;
}

.nav_btn {
    margin-right: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    white-space: nowrap;
    font-size:9pt;
}
.nav_btn:hover {
    color: rgba(255, 255, 255, 1.0);
}

.mobile_btn {
    display: none;
}

@media (max-width: 768px) {
    .nav_btn {
        display: none;
    }
    .mobile_btn {
        display:block;
        margin-right:10px;
        font-size:11pt;
        cursor: pointer;
        float: right;
        color: rgba(255, 255, 255, 0.8);
        outline: none;
        user-select: none;
    }
    .mobile_btn:hover {
        color: rgba(255, 255, 255, 1.0);
    }
}


/* NAVBAR SHADOW */
.nav_shadow{
    -webkit-box-shadow: 0px 1px 12px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 12px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 12px 3px rgba(0,0,0,0.5);
}


/* MAIN NAVBAR MENU*/
.main_logo_bg {
    height:100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("/../assets/logos/transcend_tri.svg");
    background-size: 60%;
}
.gdit_bg {
    height:100%;
    background-repeat: no-repeat;
    background-position: 10% 98%;
    background-image: url("/../assets/logos/gdit_logo_scale.svg");
    background-size: 66%;
}










