/*
################################################
          NAVIGATION-RELATED ELEMENTS
################################################
    - Type: CSS Flexbox
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/

/* NAVBAR STYLES */
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    left:0;
    z-index: 999;
    height: 40px;
    transition: all .2s ease-in-out;
}

.nav_gradient {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
}

.nav_v_bars {
    display: flex;
    height: 40px;
    width: 15px;
    margin-right: 5px;
}

.nav_v_bar_color1 {
    display: flex;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav_v_bar_color2 {
    display: flex;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

.nav_v_bar_color3 {
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav_logo_box {
    display: flex;
    cursor: pointer;
    outline: none;
    user-select: none;
}

/* transcend logo */
.nav_transcend {
    background-image: url('https://styles.transcend.csra.io/images/logos/transcend_logo.svg');
    width: 35px;
    height: 35px; /* CHANGE THIS TO CONTROL HEIGHT OF NAVBAR */
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    margin: 0;
}

/* emedny logo */
.nav_emedny {
    background-image: url('https://styles.transcend.csra.io/images/logos/emedny.svg');
    width: 90px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    margin: 0 10px 0 5px;
}

.nav_title_box {
    margin-top: -2px;
    margin-left: 5px;
}

.nav_title {
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 15pt;
    white-space: nowrap;
}

.nav_subtitle {
    font-size: 9pt;
    margin-top: -4px;
}

.nav_menu_bar {
    transition: all .2s ease-in-out;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.nav_name {
    margin: 0 10px;
    font-size: 8pt;
    user-select: none;
}

@media (max-width: 768px) {
    .nav_menu_bar {
        margin-right: 5px;
        border: 0;
    }

    .nav_name {
        display: none;
    }

    .nav_title_box {
        margin-top: 0;
        margin-left: 0;
    }

    .nav_title {
        font-size: 10pt;
    }

    .nav_logo {
        margin-left: 0;
        width: 30px;
        height: 30px;
    }

    .nav_v_bars {
        width: 15px;
    }

    .nav_subtitle {
        font-size: 7pt;
        margin-top: -2px;
    }
}


/* NAVBAR SHADOW */
.nav_shadow {
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.35);
}

/* page header class for breadcrumbs/title bars */
.page_header {
    min-height:45px;
    padding:0 15px;
    display:flex;
}


/* MAIN MENU*/
.main_logo_bg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("assets/logos/transcend_tri.svg");
    background-size: 60%;
}

.gdit_bg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 10% 98%;
    background-image: url("assets/logos/gdit_logo_scale.svg");
    background-size: 66%;
}

/* MAIN MENU ACCORDION */
.menu_slideout {
    border: 0;
    min-width: 300px;
}

@media (max-width: 768px) {
    .menu_slideout {
        width: 100%
    }
}

.menu_group {
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
}

.menu_header {
    display: flex;
    height:40px;
    min-height: 40px;
    border-bottom: 3px solid rgba(50, 50, 50, .4);
    width: 100%;
}

.menu_title {
    font-size: 14pt;
    font-weight: 400;
    padding-left: 10px;
}

.menu_btn {
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, .3);
    border-bottom: 1px solid rgba(50, 50, 50, .3);
    cursor: pointer;
    font-size: 11pt;
    min-height: 35px;
    padding-left: 5px;
    transition: all .3s ease;
    user-select: none;
    outline: none;
    font-weight: 500;
}

.menu_btn:hover {
    padding-left: 8px;
}

.menu_btn:focus, .menu_btn:hover, .submenu_btn {
    background-color: rgba(50, 50, 50, .4);
}

.submenu_btn {
    background-color: rgba(50, 50, 50, .4);
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 10pt;
    min-height: 25px;
    padding-left: 20px;
    transition: all .3s ease;
    user-select: none
}

.submenu_btn:hover {
    background-color: rgba(50, 50, 50, .5);
    padding-left: 25px
}

.menu_link {
    padding-left: 5px
}

.menu_icon, .menu_link {
    transition: all .3s ease
}

.menu_icon {
    font-size: 12pt
}

/* MENU ACCORDION */
.menu_accordion {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease
}

/* PUSH MENU */
.push_menu {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
}

.push_menu_header {
    display: flex;
    padding-left: 10px;
    height: 40px;
    align-items: center;
}

.push_menu_btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    min-height: 30px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    margin-bottom: 1px;
    box-sizing: border-box;
}

.push_menu_btn .icon {
    transition: all 0.4s ease-in-out;
    padding-right: 5px;
    font-size: 12pt;
    opacity: 0.5;
}

.push_menu_btn .item {
    transition: all 0.4s ease-in-out;
    font-size: 10pt;
}

.push_menu_btn .go {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    padding-right: unset;
    font-size: 7pt;
    margin-right: 5px;
}

.push_menu_btn:hover .go {
    opacity: 1;
    padding-right: 0;
    margin-right: -5px;
}

.push_menu_btn:hover .icon {
    opacity: 1;
}

/* OVERLAY MENU */
.overlay_menu {

}

.overlay_menu_btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    height:30px;
    min-height: 30px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
    outline: none;
    margin-bottom: 1px;
    box-sizing: border-box;
}

.overlay_menu_btn .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    padding-right: 5px;
    font-size: 12pt;
    opacity: 0.5;
}

.overlay_menu_btn .item {
    transition: all 0.4s ease-in-out;
    font-size: 10pt;
    padding-left: 5px;
}

.overlay_menu_btn .go {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    padding-right: unset;
    font-size: 7pt;
}

.overlay_menu_btn:hover .go {
    opacity: 1;
    padding-right: 0;
    margin-right: -5px;
}

.overlay_menu_btn:hover .icon {
    opacity: 1;
}


/* OLD SLIDEOUT PUSH MENU */
.slideout_menu_margin {
    margin-top: -30px;
    margin-bottom: 30px;
}

.slideout_menu_header {
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: 13pt;
    font-weight: 400;
    min-height: 40px;
}

.slideout_menu_btn {
    cursor: pointer;
    font-size: 10pt;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 25px;
    justify-content: flex-start;
    padding: 2px 2px;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.slideout_menu_btn:hover {
    padding: 2px 5px 2px 5px;
}

.slideout_menu_icon {
    display: flex;
    justify-content: flex-start;
    width: 20px;
    margin-left: 5px;
}

.slideout_menu_item {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.slideout_menu_block {
    padding: 3px 5px 3px 15px;
}

.slideout_menu_label {
    font-size: 9pt;
}

.slideout_menu_input {
    height: 17px;
    margin-left: 5px;
    border-radius: 3px;
    font-size: 11pt;
    margin-top: 5px;
    border: 1px solid #CCC;
    padding: 3px;
    width: 150px;
    outline: none;
}

.slideout_menu_name {
    height: 25px;
    border-radius: 25px;
    font-size: 14pt;
    margin: 10px 5px 5px;
    border: 1px solid rgba(225, 225, 225, 0.6);
    padding: 3px;
    width: 175px;
    text-align: center;
    outline: none;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0.6);
}

.slideout_menu_textarea {
    width: 189px;
    resize: none;
    border: 1px solid #CCC;
    border-radius: 3px;
}
