/* DOCUMENT INFORMATION
################################################
                TRANSCEND BUTTONS
################################################
    - Type: CSS Flexbox
	- Version:  3.0.0
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/
/* NAVBAR STYLES */
nav{
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 999;
    height:30px;
}
.nav_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.nav_gradient{
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=1 );
}

.logo {
    width: 150px;
    height: 30px; /* CHANGE THIS TO CONTROL HEIGHT OF NAVBAR */
    background-image: url(assets/logos/transcend_logo_horiz.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center left;
    margin:0 5px 0;
    user-select: none;
}
.nav_menu_bar{
    transition: all .2s ease-in-out;
    transform: scale(1.0,1.0);
    margin-right:5px;
    border:1px solid rgba(0,0,0,0.2);
    background-color:rgba(0,0,0,0.05);
    border-radius:25px;
}
.nav_name{
    margin:0 10px;
    font-size:8pt;
    user-select: none;

}
@media (max-width: 768px) {
    .nav_menu_bar{
        transform: scale(1.2,1.2);
        margin-right:15px;
        border:0;
    }
    .nav_name{
        display:none;
    }
}


/* NAVBAR SHADOW */
.nav_shadow{
    -webkit-box-shadow: 0 1px 7px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 1px rgba(0,0,0,0.5);
}


/* MAIN MENU*/
.main_logo_bg {
    height:100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("assets/logos/transcend_tri.svg");
    background-size: 60%;
}
.gdit_bg {
    height:100%;
    background-repeat: no-repeat;
    background-position: 10% 98%;
    background-image: url("assets/logos/gdit_logo_scale.svg");
    background-size: 66%;
}

/* MAIN MENU ACCORDION */

.menu_slideout {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .45) 0, transparent 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .45), transparent);
    background: linear-gradient(180deg, rgba(0, 0, 0, .45) 0, transparent);
    border: 0;
    min-width: 300px;
    transition: all .3s ease;
}

@media (max-width: 768px) {
    .menu_slideout {
        width: 100%
    }
}


.menu_group{
    margin:0;
    border-radius:5px;
    overflow: hidden;
}
.menu_header {
    display:flex;
    min-height: 40px;
    border-bottom: 3px solid rgba(50, 50, 50, .4);
}

.menu_title {
    font-size: 14pt;
    font-weight: 400;
    padding-left: 10px;
}

.menu_btn, .menu_title {
    align-items: center;
    display: flex;
}

.menu_btn {
    background-color: rgba(50, 50, 50, .3);
    border-bottom: 1px solid rgba(50, 50, 50, .3);
    cursor: pointer;
    font-size: 11pt;
    min-height: 35px;
    padding-left: 5px;
    transition: all .3s ease;
    user-select: none;
    outline: none;
    font-weight:500;

}

.menu_btn:hover {
    padding-left: 8px;
}

.menu_btn:focus, .menu_btn:hover, .submenu_btn {
    background-color: rgba(50, 50, 50, .4);
}

.submenu_btn {
    background-color: rgba(50, 50, 50, .4);
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 10pt;
    min-height: 25px;
    padding-left: 20px;
    transition: all .3s ease;
    user-select: none
}

.submenu_btn:hover {
    background-color: rgba(50, 50, 50, .5);
    padding-left: 25px
}

.menu_link {
    padding-left: 5px
}

.menu_icon, .menu_link {
    transition: all .3s ease
}

.menu_icon {
    font-size: 12pt
}


.menu_accordion {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease
}


