/************ HTML BODY SETUP */

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;
}
.site {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1 0 auto;
    margin:40px auto 5px;
    width:100%;
}
.page_container {
    display:flex;
    border-radius:5px;
    min-height:500px;
    min-width:280px;
    margin: 0 5px 5px;
    overflow: hidden;
}
/************ END HTML BODY SETUP */


