/*
################################################
           HIGH-LEVEL PAGE STYLES
################################################
    - Type: CSS Flexbox
	- Division: GDIT - MMIS Modernization Team
	- Author:   Terry Sinay
*/

/* styles that apply to everything */
*,
*:before,
*:after {
    /* everything should be border box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* set font to montserrat */
html * {
    font-family: Montserrat, sans-serif;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    margin: 0;
}

/* main div holding all structural elements */
.site {
    position:fixed; /* so 100% height works correctly */
    height: calc(100% - 40px); /* account for height of nav bar */
    display: flex;
    overflow-x:hidden;
    overflow-y:scroll;
    flex-direction: column;
    margin-top:40px;
    /* stretch to fill screen */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
}

/* div holding main content between nav and footer */
.site-content {
    flex: 1 0 auto;
    margin:0 auto;
    width: 100%;
}

.page_container {
    display: flex;
    min-height: 450px;
    min-width: 280px;
}

.page_container.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%,
    rgba(128, 128, 128, 0) 50%, rgba(0, 0, 0, 0.1) 100%);
}


