/* NEW PAGINATOR */
.pag_btn {
    flex:1;
    max-width:60px;
    margin:0 1px;
    height:24px;
    font-size:10pt;
}

.pag_btn.active {
    height:30px;
    margin-top:-3px;
    margin-bottom:-3px;
}


/* DIALOG */
.wac_dialog_header {
    display: flex;
    padding: 3px 10px;
    border-left: 5px solid rgba(255, 255, 255, 0.3);
    min-height: 35px;
}
.wac_dialog_header_title{
    font-size: 14pt;
    font-weight:500;
}
.wac_dialog_container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.wac_dialog_content {
    flex: 1 1 auto;
    box-sizing: border-box;
}
/* HELP */
.wac_help_description{
    font-size:11pt;
    padding:3px 15px;
    width:100%;
    font-weight:500;
}
.wac_help_text{
    font-size:11pt;
    padding:10px 15px;
}
.wac_help_notavail{
    font-size:16pt;
}




.wac_icon_select_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    color: rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    height: 75px;
    width: 75px;
    margin: 3px 4px;
    background-color: rgba(150, 150, 150, 0.05);
    cursor: pointer;
    background-color: #EFEFEF;
}

.wac_icon_select_icon:hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
}

.ui-dialog.ui-widget .ui-dialog-content {
    padding: 0;
    height: 100%;
}

.wac_photo_id_round {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: url(assets/images/noavatar.png);
    background-size: 105%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* DRAGULA STYLES */
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
/* END DRAGULA STYLES */
